<div class="container">
  <h2>My Tasks</h2>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed == false %>
          <i class="far fa-square"></i>
        <% else %>
          <i class="far fa-check-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task.id)%>

        <%= link_to task_path(task),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt trash"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container">
  <i class="fas fa-plus"></i>
  <%= link_to "Add a new task", tasks_new_path%>
</div>
